<div id="overlay-wrapper" class="z-10 absolute flex-grow hidden grid-cols-4 p-2 w-screen h-full">
    <div id="overlay" class="col-span-2 bg-base-300/60 p-2">
    </div>
    <div id="overlay-aside" class="col-span-2 bg-base-300 p-2">
        <div id="overlay-menu">
            {{#each menus}}
            <a class="flex mb-2 rounded font-normal btn btn-ghost" href="{{url}}">{{name}}</a>
            {{/each}}
        </div>
        {{!-- {{> aside}} --}}
    </div>
    <script src="/static/overlay.js"></script>
</div>