@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: ["Hasklig"];
    }
}

@font-face {
    font-family: "Hasklig";
    src: url("fonts/Hasklig-Regular.woff") format("woff");
    src: url("fonts/Hasklig-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Hasklig";
    src: url("fonts/Hasklig-It.woff") format("woff");
    src: url("fonts/Hasklig-It.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Hasklig";
    src: url("fonts/Hasklig-Bold.woff") format("woff");
    src: url("fonts/Hasklig-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Hasklig";
    src: url("fonts/Hasklig-BoldIt.woff") format("woff");
    src: url("fonts/Hasklig-BoldIt.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
}